  <h2>Banking  Information</h2>
   
  	
  	Bank Name:  <%= @bank.name_of_bank %> <br>
  	Account Number:  <%= @bank.account_num %> <br>
  	Account Type:  <%= @bank.account_type %> <br>
  	Mode of holding:  <%= @bank.mode_of_holding %> <br>
  	First Holder:  <%= @bank.first_holder %> <br>
  	Second Holder:  <%= @bank.second_holder %> <br>
  	Branch Address:  <%= @bank.branch_address %> <br>
  	City:  <%= @bank.city %> <br>
  	IFSC Code:  <%= @bank.ifsc_code %> <br>
  	MICR Code:  <%= @bank.micr_code %> <br>
  	Years of validity for SIP mandate:  <%= @bank.sip_validity %> <br>
  	Maximum Per-day Amount for the mandate:  <%= @bank.sip_upper_limit %> <br>
  	
	





	