<% if user_signed_in? %>
  <!-- <li><%= link_to current_user.name, new_kyc_path %></li> -->
  <li><%= link_to "Account", account_path  %></li>

<%= link_to "Add a Bank", new_bank_path %><br>
<% for bank in @banks %>
  <%= link_to " #{bank.name_of_bank}" , bank_path(bank.id) %><br>
 
<% end %>

<% if current_user.id == 1 %>

  <%= button_to "Upload Cams Data", :controller => 'transactions', :action => 'cams_upload_feed'  %>
	<br>
  <%= link_to "Excel", sip_registration_path(format: "xls") %>


  <h2>Import SIP Registrations</h2>

	<%= form_tag import_sip_registration_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Import" %>
	<% end %>

	<%= form_tag import_sip_transaction_path, multipart: true do %>
	  <%= file_field_tag :file2 %>
	  <%= submit_tag "Import" %>
	<% end %>

<% end %>


<% end %>





