<%= simple_form_for @kyc  do |f| %>

	
			
  <h2>Personal Information</h2>
  	
  	<%= f.input :first_name , label:'Name'%>
	<%= f.input :last_name , label:'Last Name' %>
	
	<%= f.input :pan , label:'PAN' %>
		
  <p><%= f.submit "Save" %></p>
  
<% end %>

