<%= simple_form_for @kyc, url: wizard_path  do |f| %>
  
	
  <h2>Personal Information</h2>
  	

	<%= f.input :father_spouse_name , label:'Father/Spouse Name' %>
	<%= f.input :marital_status, label:'Marital Status',collection: [ "Single", "Married"],:include_blank => false %>
	<%= f.input :gender , label:'Gender',collection: [ "Male", "Female"],:include_blank => false %>
	<%= f.input :date_of_birth, label:'Date of Birth', as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 13%>
	<%= f.input :nationality, label:'Nationality', input_html: { value: 'Indian' } %>
	<%= f.input :residence_status, label:'Residence Status',collection: [ "Resident", "Non-resident","Foreign National"],:include_blank => false %>
	<%= f.input :proof_of_identity, label:'Proof of Identity',collection: [ "UID(Aadhar)", "Passport","Voter ID","Driving License","PAN Card","Others"],:include_blank => false %>
	 <%= f.input :annual_income, label:'Annual Income',collection: [ "Below 1 Lac", "1-5 Lacs","5-10 Lacs","10-25 Lacs"," >25 Lacs"],:include_blank => false %>
	<%= f.input :occupation, label:'Occupation',collection: [ "Service","Business","Student","Household",       "Professional","Farmer","Retired","Others"],:include_blank => false %>
	<%= f.input :pep_status, label:'PEP Status',hint: 'Politically Exposed Person',collection: [ "None", "Politically Exposed Person (PEP)","Related to a Politically Exposed Person (PEP)"],:include_blank => false%>

  			
  
	


	
  <p><%= f.submit "Continue" %></p>
  
<% end %>



	
