


<%= form_tag invoice_transactions_path do %>



<h3>Select Bank <%= select_tag "bankid", options_from_collection_for_select(@banks, "id", "name_of_bank") %><br></h3>



-----------------------------------------------------------------------------------------------------------------<br>
<% if @a == 1 %>
<script type="text/javascript">
$(document).ready(function () {
$("#txn").change(function(){
  if ($("#txn").val()=="SIP") {$(".sip").show(); }
  if ($("#txn").val()=="Lumpsum") {$(".sip").hide();  }
  })

});

</script>

Transaction Mode :<%= select_tag "tr_mode", options_for_select(["Lumpsum","SIP"]),:id => "txn" %><br>

<% @funds.each do |fund| %>
<h4><%= fund.scheme_name %><br></h4>	
<%= hidden_field_tag "transactions[][liq_non]", fund.category %>
<%= hidden_field_tag "transactions[][registrar]", fund.registrar %>
<%= hidden_field_tag "transactions[][user_id]", current_user.id %>
<%= hidden_field_tag "transactions[][fund_id]", fund.id %>
Transaction Type :<%= select_tag "transactions[][tr_type]", options_for_select(["Purchase","P"]) %><br>
<% holding1 = Holding.find(:first, :conditions => ["user_id = ? AND fund_id = ? ",current_user.id,fund.id]) %>
<% holding2 = Holding.find(:first, :conditions => ["user_id = ? AND amc = ? ",current_user.id,fund.registrar_amc_code]) %>
<% if holding1 %>
Folio :<%= select_tag "transactions[][folio_id]", options_for_select([holding1.folio]) %><br>
<% elsif holding2 %>
Folio :<%= select_tag "transactions[][folio_id]", options_for_select([holding2.folio]) %><br>
<% else %>
Folio :<%= select_tag "transactions[][folio_id]", options_for_select(["New"]) %><br>
<%end%>
Amount(in Rs.) <%= number_field_tag "transactions[][amount]", fund.min_investment %><br>

<div class="sip" style="display: none;">
Investment Date :<%= date_field_tag "transactions[][sip_start_date]"%><br>
No. of installments :<%= number_field_tag "transactions[][sip_installments]" %><br>
Frequency :<%= select_tag "transactions[][sip_frequency]", options_for_select(["Monthly","Weekly","Bi-Monthly"]) %><br>

</div>


<% if fund.fund_type == "Dividend" %>
Dividend Option :<%= select_tag "transactions[][reinvestment_tag]", options_for_select([["Reinvest","Y"],["Payout","N"]]) %><br>
<% else %>
Dividend Option :<%= select_tag "transactions[][reinvestment_tag]", options_for_select([["Growth","Z"]]) %><br>
<% end %>

<%= hidden_field_tag "transactions[][pg_tr_status]", "Invoice" %>
<%= hidden_field_tag "transactions[][registrar_tr_status]", "Invoice" %>

----------------------------------------------------------------------------------------------------------------------
<br>


<% end %>

<% end %>

<% if @a == 0 %>

<script type="text/javascript">


$(document).ready(function () {

$(".partial_full").change(function(){
	var parent = $(this).parent().parent();
	var targetTextBox = parent.find('.amt');
  	var targetFixedBox = parent.find('.amt1');

  if ($(this).val()=="Partial Redemption") {
	targetTextBox.show();
	targetFixedBox.hide();
	   }
  if ($(this).val()=="Full Redemption") {
  	targetTextBox.hide();
	targetFixedBox.show();}
  	})



});

</script>




<table class="table table-bordered">
	<tbody>
		
			<% @holdings.each do |holding| %>
			<% fund = Fund.find_by_id(holding.fund_id) %>	
			<tr>
			<div class = "master">		
			<%= hidden_field_tag "transactions[][liq_non]", fund.category %>
			<%= hidden_field_tag "transactions[][registrar]", fund.registrar %>
			<%= hidden_field_tag "transactions[][user_id]", current_user.id %>
			<%= hidden_field_tag "transactions[][fund_id]", fund.id %>
			<td><%= fund.scheme_name %></td>
			<td><%= select_tag "transactions[][folio_id]",  options_for_select([holding.folio]) %>
			<td><%= holding.buy_value %></td>
			<td><div class =  "abc"><%= holding.units %></div></td>
			<td><%= (holding.units * fund.nav).round(2) %></td>
			<td><%= select_tag "transactions[][tr_type]", options_for_select([["Redeem","R"]]) %></td>
			<td><%= select_tag "transactions[][tr_mode]", options_for_select(["Partial Redemption","Full Redemption"]),:class => "partial_full" %></td>

			<td><div class = "amt"><%= number_field_tag "transactions[][amount]"%></div>
				<div class = "amt1" style="display: none;"><%= holding.buy_value %></td>
			
			<td><%= number_field_tag "transactions[][units]"%></td>
			

			<%= hidden_field_tag "transactions[][pg_tr_status]", "Invoice" %>
			<%= hidden_field_tag "transactions[][registrar_tr_status]", "Invoice" %>
			</div>
			</tr>
			<% end %>
		
	</tbody>

</table>


















<% end %>

This is a :<%= select_tag "euin", options_for_select([["Execution Only","N"],["Advisory Based","Y"]]) %><br> transaction

<%= submit_tag "Do Transaction" %>
<% end %>	





